
body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #190707;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 35px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: grey;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
    padding-left: 20px;
}

.Front-caption {
    
}

/* 
Nav Bar
*/
.nav-logo {
    height: 30px;
    float: left;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #424242;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 10px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .2s ease-in-out,padding .2s ease-in-out;
        -moz-transition: background .2s ease-in-out,padding .2s ease-in-out;
        transition: background .2s ease-in-out,padding .2s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #424242;
    }
}

/* 
FRONT PAGE 
*/
.intro {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    background: #000 url(../img/header_0.jpg) center center no-repeat scroll;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    padding-top: 60px;
}

.intro .intro-body .brand-heading {
    font-size: 30px;
    text-shadow: -2px -2px black, 2px 2px black, 2px 2px black, -2px -2px black;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100vh;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 38px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: rgba(50, 20, 30, 0.7);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(50,0,0,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}



.btn-circle i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.slideBtn {
    margin-top: 45vh;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 0px solid #691511;
    color: #691511;
    background-color: transparent;
    padding: 0 0 0 0 ;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #691511;
    outline: 0;
    color: #000;
    background-color: #691511;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}



/*
Front Page
*/
.signup-box {
    position: absolute;
    bottom: 40px;
    right: 20px;
    background-color: transparent;
    width: 320px;
    z-index: 1;
}

.signup-box .email-input{
    background-color: rgba(0, 0, 0, 0.3);
    width: 170px;
    color: white;
}

.signup-box .email-submit{
    background-color: red;
}

input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}
 
input:-ms-input-placeholder {  
color: white !important;
}



/*
About page
*/
.about {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #FFFFFF;
    color: black;
    width: 100%;
}

.redFont {
    color: #A81C08;
}

/*
Contact Page
*/

.contact {
    width: 100%;
    color: #000000;
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 60px;
}


.email-input, .email-submit {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}

.email-input {
    border-radius: 0;
    font-size: 14px;
    max-width: 200px;
    height: 38px;
}
.email-submit {
    text-align: center;
    width: 150px;
    height: 38px;
    font-size: 16px;
    background-color: #9C2019;
    color: #FFFFFF;
}



/*
Footer
*/
.end{
    width: 100%;
    background-color: #FFFFFF;
}

.end-img {
    display: table;
    width: 100vw;
    min-height: 400px;
    text-align: center;
    color: #fff;
    background: #000 url(../img/footer_0.jpg) top center no-repeat scroll;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.end-img-text {
    position: relative;
    background-color: #000000;
    padding: 5px 25px 5px 15px;
    margin: 0 0 0 0;
    max-width: 430px;
    bottom: -320px;
    float: right;
    font-style: oblique;
    font-family: cursive;
}

.end-questions {
    margin-top: 60px;
    color: #000000;
    height: 200px;
}
.end-questions-btn {
    color: #FFFFFF;
    background-color: #9C2019;
}


/*
Product page
*/
.product {
    width: 100%;
    background-color: #691511;
}

#product_0-img {
    background: #000 url(../img/product_0.jpg) left center no-repeat scroll;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45vh;
    min-height: 450px;
}

#product_1-img {
    background: #000 url(../img/product_1.jpg) center top no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45vh;
    min-height: 450px;
}

.text-left{
    text-align: left;
}

.product-title {
    padding-top: 40px;
    padding-bottom: 10px;
}


